<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<array>
		<dict>
			<key>title</key>
			<string>チーズバー</string>
			<key>product_list</key>
			<array>
				<dict>
					<key>product_name</key>
					<string>料理人チーズバーセット</string>
					<key>price</key>
					<string>2100円</string>
					<key>comment</key>
					<string>各界有名料理人とのコラボレーションチーズバー。オンラインショップ限定販売中です。</string>
					<key>image</key>
					<string>cook_cheese.jpg</string>
					<key>detail_prodcut</key>
					<dict>
						<key>detail_image</key>
						<string>cook_cheese_detail.jpg</string>
					</dict>
				</dict>
				<dict>
					<key>product_name</key>
					<string>チーズバー バラエティ&amp;プレーン 10本セット</string>
					<key>price</key>
					<string>3100円</string>
					<key>comment</key>
					<string>5種類の味＆定番プレーンがセットになった！</string>
					<key>image</key>
					<string>cheese_baraety_5.jpg</string>
					<key>detail_product</key>
					<dict>
						<key>detail_image</key>
						<string>cheese_baraety_detail.jpg</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ホールケーキ</string>
			<key>product_list</key>
			<array>
				<dict>
					<key>product_name</key>
					<string>レアチーズケーキ 5号(直径15cm)</string>
					<key>price</key>
					<string>4200円</string>
					<key>comment</key>
					<string>手間と時間を惜しまずに、こだわりの製法で作り上げた・・・とろけるレアチーズです。</string>
					<key>image</key>
					<string>rare_cheese_5.gif</string>
					<key>detail_prodcut</key>
					<dict>
						<key>detail_image</key>
						<string>cook_cheese_detail.jpg</string>
					</dict>
				</dict>
				<dict>
					<key>product_name</key>
					<string>N.Y.チーズケーキ 4号(直径12cm)</string>
					<key>price</key>
					<string>3000円</string>
					<key>comment</key>
					<string>チーズケーキファクトリーの大人気商品！</string>
					<key>image</key>
					<string>rare_cheese_4.gif</string>
					<key>detail_product</key>
					<dict>
						<key>detail_image</key>
						<string>cheese_baraety_detail.jpg</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>スペシャルメニュー</string>
			<key>product_list</key>
			<array>
				<dict>
					<key>product_name</key>
					<string>江戸抹茶ロール-榮太樓謹製つぶしあん使用-</string>
					<key>price</key>
					<string>1190円</string>
					<key>comment</key>
					<string>榮太樓總本鋪 謹製のつぶしあんをたっぷりと練りこんだ特製クリームを、抹茶香る、ふうわりと軽く柔らかなスポンジ生地で巻き上げました。</string>
					<key>image</key>
					<string>edo_matya.jpg</string>
					<key>detail_prodcut</key>
					<dict>
						<key>detail_image</key>
						<string>cook_cheese_detail.jpg</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>限定商品</string>
			<key>product_list</key>
			<array>
				<dict>
					<key>product_name</key>
					<string>料理人チーズバーセット</string>
					<key>price</key>
					<string>2100円</string>
					<key>comment</key>
					<string>各界有名料理人とのコラボレーションチーズバー。オンラインショップ限定販売中です。</string>
					<key>image</key>
					<string>cook_cheese.jpg</string>
					<key>detail_prodcut</key>
					<dict>
						<key>detail_image</key>
						<string>cook_cheese_detail.jpg</string>
					</dict>
				</dict>
				<dict>
					<key>product_name</key>
					<string>チーズバー バラエティ&amp;プレーン 10本セット</string>
					<key>price</key>
					<string>3100円</string>
					<key>comment</key>
					<string>5種類の味＆定番プレーンがセットになった！</string>
					<key>image</key>
					<string>cheese_baraety_5.jpg</string>
					<key>detail_product</key>
					<dict>
						<key>detail_image</key>
						<string>cheese_baraety_detail.jpg</string>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ギフト＆ラッピング</string>
			<key>product_list</key>
			<array>
				<dict>
					<key>product_name</key>
					<string>ラッピングサービス</string>
					<key>price</key>
					<string>210円</string>
					<key>comment</key>
					<string>誕生日・結婚記念日などの記念日や結婚祝い・出産祝い・還暦祝いなど各種お祝いや季節のイベントに贈るギフトやプレゼント。それだけでも十分に気持ちは通じますが、せっかくだから通常よりワンランクアップで!綺麗なラッピングで贈られた感動も格段にアップしますね</string>
					<key>image</key>
					<string>rapping_service.jpg</string>
					<key>detail_prodcut</key>
					<dict>
						<key>detail_image</key>
						<string>cook_cheese_detail.jpg</string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
